*/config.old
*/rootfs_config.old
build/
images/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
BOOT.BIN

!pre-built/linux/images
pre-built/linux/images/rootfs.ext4
!project-spec/meta-user/recipes-core/images
