/include/ "system-conf.dtsi"
/ {
	model = "Zynq ARTY Z7 Development Board";
	compatible = "digilent,zynq-artyz7", "xlnx,zynq-7000";

	aliases {
		serial0 = &uart0;
		serial1 = &uart1;
		ethernet0 = &gem0;
		spi0 = &qspi;
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};
};

&qspi {
	u-boot,dm-pre-reloc;
};

&flash0 {
	compatible = "micron,m25p80", "s25fl128s";
};

&gem0 {
	phy-handle = <&ethernet_phy>;

	ethernet_phy: ethernet-phy@0 { /* rtl8211e-vl */
	reg = <1>;
	device_type = "ethernet-phy";
	};
};

&usb0 {	
	usb-phy = <&usb_phy0>;
	/delete-property/ usb-reset;
};

&xadc_wiz_0 {
	compatible = "xlnx,axi-xadc-1.00.a";
	clocks = <&clkc 12>;
	xlnx,channels {
		#address-cells = <1>;
		#size-cells = <0>;
		channel@0 { /* vaux0 */
			reg = <1>;
		};
		channel@1 {
			reg = <2>;
		};
		channel@5 {
			reg = <6>;
		};
		channel@6 {
			reg = <7>;
		};
		channel@8 {
			reg = <9>;
		};
		channel@9 {
			reg = <10>;
		};
		channel@12 {
			reg = <13>;
		};
		channel@13 {
			reg = <14>;
		};
		channel@15 {
			reg = <16>;
		};
	};
};

&sdhci0 {
	u-boot,dm-pre-reloc;
};

&uart0 {
	u-boot,dm-pre-reloc;
	port-number = <0>;	
};

&uart1 {
	port-number = <1>;
};

